<% include ./partials/header %>

<div class="container">
  <% searchData["Search"].forEach((movie) => { %>
  <div class="card">
    <div class="card-image">
      <img src="<%= movie.Poster %>">
    </div>
    <div class="card-content">
      <p><%= movie["Year"] %></p>
      <h4><%= movie["Title"] %></h4>
      <p>IMDB ID : <%= movie["imdbID"] %></p>
    </div>
  </div>
  <% }); %>
</div>

<% include ./partials/footer %>