:root {
  --background-color: #221F1F;
  --primary-color: #0086FF;
  --secondary-color: #D7E1EC;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  font-family: 'Lobster', cursive;
}

/* ============================================== */
/* Navbar */
/* ============================================== */

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 5px;
}

.logo {
  height: 60px;
  padding-left: 5%;
}

.nav-list {
  display: flex;
  flex-direction: row;
  padding-right: 5%;
}

.nav-list > li {
  padding: 0 20px;
  list-style: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

/* ============================================== */
/* Search */
/* ============================================== */

.title {
  margin: 0;
  font-size: 6em;
  color: var(--primary-color);
}

.title-wrapper {
  padding: 5px 20px;
  background-color: var(--secondary-color);
}

.search-form > h4 {
  font-size: 2em;
  color: #ffffff;
}

.search-form {
  width: 50%;
  height: calc(100vh - 64px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-bar {
  display: flex;
  flex-direction: column;
  width: 80%;
}

input {
  outline: none;
  border: none;
  border-radius: 10px;
}

.search-text {
  padding: 10px 20px;
}

.submit-button {
  margin: 2px 0 0 0;
  padding: 10px 20px;
  background-color: var(--secondary-color);
}

/* ============================================== */
/* Results */
/* ============================================== */

.container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1.66%;
  padding: 0;
  background-color: #29539b;
  background-image: linear-gradient(315deg, #29539b 0%, #1e3b70 74%);
}

.card-content > h4 {
  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
  color: #ffffff;
}

.card-content > p {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
}