<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Movie Central</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>

<body>

  <header>
    <div class="nav-container">
      <img class="logo" src="logo.png">
      <ul class="nav-list">
        <li>
          <h2><a href="#">Home</a></h2>
        </li>
        <li>
          <h2><a href="#">Favorites</a></h2>
        </li>
        <li>
          <h2><a href="#">Sign Up</a></h2>
        </li>
        <li>
          <h2><a href="#">Log In</a></h2>
        </li>
      </ul>
    </div>
  </header>